transform(property)
	-webkit-transform: property
	-moz-transform: property
	-ms-transform: property
	-o-transform: property
	transform: property


transform-origin(property)
	-webkit-transform-origin: property
	-moz-transform-origin: property
	-ms-transform-origin: property
	-o-transform-origin: property
	transform-origin: property


middle-translate-3d()
	-webkit-transform: translate3d(-50%, -50%, 0)
	-moz-transform: translate3d(-50%, -50%, 0)
	-ms-transform: translate3d(-50%, -50%, 0)
	-o-transform: translate3d(-50%, -50%, 0)
	transform: translate3d(-50%, -50%, 0)


middle-translate()
	-webkit-transform: translate(-50%, -50%)
	-moz-transform: translate(-50%, -50%)
	-ms-transform: translate(-50%, -50%)
	-o-transform: translate(-50%, -50%)
	transform: translate(-50%, -50%)


rotate(property)
	-webkit-transform: rotate(property)
	-moz-transform: rotate(property)
	-ms-transform: rotate(property)
	-o-transform: rotate(property)
	transform: rotate(property)

backface-visibility(property)
	-webkit-backface-visibility: property
	-moz-backface-visibility: property
	-ms-backface-visibility: property
	-o-backface-visibility: property
	backface-visibility: property
