transition(property)
	-webkit-transition: property
	-moz-transition: property
	-ms-transition: property
	-o-transition: property
	transition: property

animation(property)
	-webkit-animation: property
	-moz-animation: property
	-ms-animation: property
	-o-animation: property
	animation: property

